@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif; 
}

p {
    font-family: 'Inter', sans-serif;
}

.text-with-shadow {
    text-shadow: 2px 2px 14px rgba(0, 0, 0, 0.5);
}

.form-label-custom {
 font-size: 28px;
 font-weight: 500;
}

.custom-form-input {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc; 
    border-radius: 5px;
    padding: 25px; 
    font-size: 30px;
    width: 100%;
    background-color: #FBFBFB;
}

.custom-form-input::-webkit-calendar-picker-indicator {
    background: transparent; 
}

.custom-form-input::placeholder {
    color: #999; 
}

.custom_btn {
    border: none;
    color: white; 
    padding: 20px 30px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 26px; 
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

.btn-success-custom {
    background-color: #365E61;
}

.btn-danger-custom {
    background-color: #BC4646;
}

.tab-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
    background-color: #ffffff; 
}

.circle {
    width: 100px; 
    height: 100px; 
    
    border-radius: 50%;
    margin: 0 10px;
}

.circle_gray {
    background-color: #E0E4CD; 
}

.circle_green {
    background-color: #C3D1DE;
}

.line {
    position: absolute;
    width: 200px;
    height: 2px; 
    background-color: #007bff; 
    top: 100px; 
    left: 50%; 
    transform: translateX(-50%); 
}

.ck-editor__editable_inline {
    min-height: 400px;
}

.floating-add-btn {
    position: fixed;
    bottom: 20px;
    right: 43%;
    z-index: 2000;
}

.floating-add-btn .btn {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10% 12%;
    font-size: 100px;
    color:white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.floating-add-btn .btn:hover {
    transform: scale(1.1);
    color:white;
}


.floating-navbar {
    position: fixed;
    bottom: 10px;
    left: 20px; 
    right: 20px;
    background-color: #333;
    padding: 2%;
    z-index: 1000;
    width: calc(100% - 40px); 
    border-radius: 90px;
    background: linear-gradient(to top, #13352F, #093E25); 
}
